<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= gallery.name %></title>
    <link rel="stylesheet" href="../styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oleo+Script&family=Poppins&display=swap" rel="stylesheet">

    <style>
        /* General reset to avoid overflow */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        body {
            background-image: url('/images/websitebackground.jpg');
            
        }

        .margin-xs-bottom {
            margin-bottom: 10px;
        }

        .photo-item img {
            max-width: 100%;
            max-height: 100%;
            display: cover;
        }

        .photo-item {
            width: 250px;
            margin-bottom: 20px;
        }

        .photo-header {
            width: 350px;
            margin-bottom: 50px;
        }

        .photo-grid {
            margin: 0 auto;
            width: 85% !important;
            height: auto !important;
            left: 0 !important;
            top: 0 !important;
            margin-top: 100px;
        }

        .text-align {
            text-align: center;
        }

        .gallery-header {
            padding: 10px 0;
            margin-bottom: 20px;
            height: 100vh;
            overflow: hidden;
        }

        .blur-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('<%= gallery.imageUrl %>');
            background-size: cover;
            filter: blur(50px);
            z-index: -1;
        }

        .gallery-show {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: -60px;
            height: calc(100vh - 60px); /* Adjust to avoid vertical overflow */
        }

        .arrow {
            font-size: 2rem;
            color: #000;
            margin-top: -30px;
            text-align: center;
        }

        .center {
            margin: 0 auto;
            padding: 0 15px;
            text-align: center;
        }

        /* Swiper container full height and width */
        .swiper-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        /* Swiper slide styling */
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Image styling within slides */
        .swiper-slide img {
            max-width: 300px;
            max-height: 500px;
            object-fit: cover;
            margin-top: -30px;
        }

        /* Custom positioning for navigation buttons */
        .swiper-button-next{
            color: #000; /* Change color as needed */
            width: 40px; /* Adjust width */
            height: 40px; /* Adjust height */
            top: 50%; /* Center vertically */
            
            transition: transform 0.3s ease; /* Smooth transition */
            z-index: 10; /* Ensure they are above other elements */
        }

        
        .swiper-button-prev {
            color: #000; /* Change color as needed */
            width: 40px; /* Adjust width */
            height: 40px; /* Adjust height */
            top: 50%; /* Center vertically */
          
            transition: transform 0.3s ease; /* Smooth transition */
            z-index: 10; /* Ensure they are above other elements */
        }

        .swiper-button-next {
            right: 500px; /* Adjust distance from the right */
            top: 450px;
        }

        .swiper-button-prev {
            left: 500px; /* Adjust distance from the left */
            top: 450px;
        }

        /* Ensure buttons stay in place */
        .swiper-button-next::after,
        .swiper-button-prev::after {
            font-size: 20px; /* Adjust icon size */
        }

     
       
        

        @media only screen and (max-width: 6400px) {
            .center {
                width: 1200px;
            }
            .photo-header {
                width: 450px;
            }
            .gallery-show {
                margin-top: 100px;
            }
        }
        @media only screen and (max-width: 1920px) {
            .center {
                width: 1000px;
            }
            .gallery-show {
                margin-top: -50px;
            }
            .photo-header {
                width: 300px;
            }
        }
        @media only screen and (max-width: 992px) {
            .center {
                width: 800px;
            }
        }
        @media only screen and (max-width: 768px) {
            .center {
                width: 600px;
            }
        }
        @media only screen and (max-width: 576px) {
            .center {
                width: 100%;
                padding: 0 20px;
            }
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <!-- Loading Screen -->
    <div class="loading-screen">
        <div class="spinner"></div>
    </div>

    <div class="gallery-header">
        <div class="blur-overlay"></div>
        <div class="header">
            <div class="header-items">
                <div class="logo">
                    <i class="bi bi-camera icon-large"></i>
                    <a href="/home" class="undecorate">
                        <h1 class="header-text undecorate direct-text">iBellaPhotos</h1>
                    </a>
                </div>
                <a href="/about" class="header-item direct-text">About</a>
                <a href="/booking" class="header-item direct-text">Booking</a>
                <a href="/galleries" class="header-item direct-text ">Galleries</a>
                <a href="/contact" class="header-item direct-text">Contact</a>
            </div>
        </div>

        <div class="gallery-show">
            <h2 class="margin-l-top text-align margin-xs-bottom"><%= gallery.name %></h2>
            <h2 class="margin-s-bottom">Full Gallery</h2>
            <div class="swiper-container">
              
                <div class="swiper-wrapper">
                    <% images.forEach(image => { %>
                        <div class="swiper-slide">
                            <img src="<%= image.url %>" alt="<%= image.description %>" loading="lazy">
                        </div>
                    <% }); %>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

                
            </div>
        </div>
    </div>
    


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    <script>
        var swiper = new Swiper('.swiper-container', {
            loop: true,
            lazy: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
</body>
</html>
